<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Exercicios Radio e Alert
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-alert
  trigger="ver-desconto"
  header="Desconto escolhido"
  message="{{descontoEscolhido}}"
  [buttons]="alertButtons"
  ></ion-alert>

  <ion-item>
    <ion-input label="Valor da Compra" labelPlacement="floating" placeholder="Digite o valor da compra" type="number" 
    [(ngModel)]="valorCompra"></ion-input>
  </ion-item>

  <ion-radio-group value="desconto" [(ngModel)]="desconto" id="ver-desconto" (click)="calculoDesconto()"><br>
    <ion-radio value="creditoVista" labelPlacement="end">Crédito a vista</ion-radio><br />
    <ion-radio value="creditoPrazo" labelPlacement="end">Crédito a prazo</ion-radio><br />
    <ion-radio value="PIX" labelPlacement="end">Pix</ion-radio>
  </ion-radio-group>

  

</ion-content>
